* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, sans-serif;
    background-image: url(../img/FondoP.png);
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    margin: 0;
}

.Registro{
    display: flex;
    width: 800px;
    height: 550px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
}

.Registro .Registro-image{
    flex: 1;
    overflow: hidden;
}

.Registro .Registro-image img{
    width: 100%;
    height: 100%;
}

.Registro .registrocontainer{
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.Registro .registrocontainer h1{
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-top: -10px;
}

.Registro .registrocontainer .registro-group{
    margin-bottom: 20px;
}

.Registro .registrocontainer .registro-group label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.Registro .registrocontainer .registro-group input{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.Registro .registrocontainer button{
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #bf0909;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.Registro .registrocontainer button:hover{
    background-color:#6a0a0a;
}
.Registro .registrocontainer  .signup-link{
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
}

.Registro .registrocontainer .signup-link a {
    color: #bf0909;
    text-decoration: none;
}

.Registro .registrocontainer .signup-link a:hover{
    text-decoration: underline;
}

@media (max-width: 450px) {
    .Registro{
        flex-direction: column;
        width: 80vw !important;
        height: auto !important;
        max-width: none;
    }
    .Registro .registrocontainer{
        order: 2;
    }
    .Registro .Registro-image{
        order: 1;
    }
}

/*REGISTRO EXITOSO*/
.mensaje-exito{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.mensaje-exito i{
    font-size: 100px;
    color: green;
}

.mensaje-exito h2{
    color: green;
    margin-top: 10px;
}

/*Ojos*/
.password-container{
    position: relative;
}

.password-container input{
    width: 100%;
    padding-right: 40px;
}

.password-container i{
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #666;
}

/*Boton de regreso*/
.btn-regresar{
    display: inline-block;
    padding: 12px 20px;
    background-color: #bf0909;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
.btn-regresar:hover{
    background-color: #6a0a0a;
}